<!-- View for showing all `Post` -->
<div class="row">
  <p class="col-md-12 text-right">Search</p>
</div>
<% @posts.reverse_each do |post| %>
  <div class="card">
    <div class="card-header">
      <%= post.title %>
    </div>
    <div class="card-body">
      <p><%= truncate(post.body, length: 200) %></p>
      <p class="text-right"><%= link_to 'comments (x)', post_path(post) %></p>
    </div>
  </div>
<% end %>
